
.mypro {
  font-size: 5rem;
  font-weight: 400;
  padding-top: 90px;
  padding-left: 135px; /* Increased padding to move content right */
  padding-bottom: 20px;
}

.container {
  height: auto;
  width: 85%;
  margin: 0px auto;
  padding-left: 20px; /* Adjusted padding to better align */
}

.card img {
  background-color: aliceblue;
  height: 200px;
  width: 100%;
  border-radius: 25px;
  margin-bottom: 10px;
  object-fit: cover;
  border: 1px solid #000;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.card {
  border-radius: 25px;
  padding: 20px;
  border: 1px solid #000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card h2 {
  font-size: 20px;
}

.card p {
  margin-top: 5px;
  font-style: 16px;
  line-height: 1.5;
}

.btn-container {
  display: flex;
  padding-top: 30px;
  justify-content: flex-end; /* Aligning the button container to the right */
}

.readmore {
  font-weight: 600;
  padding: 0.85rem;
  width: 8rem;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: none;
  border: 0.1rem solid rgb(255, 255, 255);
  transition: color 300ms ease, background-color 300ms ease, border-color 300ms ease;
}

.readmore {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.readmore:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 0.1rem solid rgb(0, 0, 0);
}

.readmore span {
  position: relative;
  z-index: 1;
}

.readmore:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  .mypro {
    font-size: 11vw;
    padding-top: 60px;
    padding-left: 30px;
    padding-bottom: 10px;
  }

  .container {
    width: 95%;
    padding-left: 10px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .card img {
    height: 230px;
  }

  .card h2 {
    font-size: 5vw;
  }

  .card p {
    font-size: 4vw;
    line-height: 1.4;
  }

  .btn-container {
    justify-content: center;
    padding-top: 20px;
  }

  .readmore {
    width: 9rem;
    padding: 0.9rem;
    font-size: 4vw;
  }
}
